* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(0, 0, 33);
  color: white;
}


.left {
  font-size: 1.7rem;
}


.leftsection {
  font-size: 3rem;
}

.rightsection img {
  width: 60%;
  
}



.purple {
  color: blueviolet;
}



  #element{
    color: rgb(167, 167, 251);
  }


  main hr{
    border: 0;
    background-color: blueviolet;
    height: 1px;
    margin: 40px 84px;
  }

 

